<!DOCTYPE html>
<html>
<head>
    <title>Kalkulator Sederhana</title>
</head>
<body>
    <h2>Kalkulator Sederhana</h2>
    <input type="number" id="angka1" placeholder="Masukkan angka 1"><br>
    <input type="number" id="angka2" placeholder="Masukkan angka 2"><br>
    <select id="operasi">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value=""></option>
        <option value="/">/</option>
    </select><br>
    <button onclick="hitung()">Hitung</button><br>
    <p id="hasil"></p>

    <script>
        function hitung() {
            var angka1 = parseFloat(document.getElementById("angka1").value);
            var angka2 = parseFloat(document.getElementById("angka2").value);
            var operasi = document.getElementById("operasi").value;
            var hasil = 0;

            switch (operasi) {
                case "+":
                    hasil = angka1 + angka2;
                    break;
                case "-":
                    hasil = angka1 - angka2;
                    break;
                case "*":
                    hasil = angka1 * angka2;
                    break;
                case "/":
                    if (angka2 != 0) {
                        hasil = angka1 / angka2;
                    } else {
                        alert("Angka 2 tidak boleh 0!");
                        return;
                    }
                    break;
            }

            document.getElementById("hasil").innerHTML = "Hasil: " + hasil;
        }
    </script>
</body>
</html>